<div align="center">
  <blockquote class="blockquote">
    <p class="mb-0">I am the master of my fate, I am the captain of my soul.</p>
    <footer class="blockquote-footer">Invictus <cite title="Source Title">by William Earnest Henley</cite></footer>
  </blockquote>
  <br>
  <h3>Hello, this is an example of multiple omniauth login.</h3>
  <br>
  <h4>
    source code and more examples at <a href="https://github.com/ashish979" target="_blank">https://github.com/ashish979</a><br><br>
    find more about me on linkedin <a href="https://www.linkedin.com/in/ashish979" target="_blank">https://www.linkedin.com/in/ashish979</a>
  </h4>
</div>
