body{
  background-color: #dff0d8;
}

.container{
  min-width: 1140px;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
h2{
  text-align: center;
}
.form-panel{
  margin: auto;
  width: 400px;
  min-height: 200px;
  border: 1px solid #66afe9;
  border-radius: 5px;
  padding: 30px;
}
.right{
  align: right;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  background-color: #373a3c;
  height: 20px;
}
.navbar{
  padding: 0.2rem 1rem;
}
main{
  padding-top: 44.38px;
  padding-bottom: 20px;
}

