h2{
  text-align: center;
}
.form-panel{
  margin: auto;
  width: 400px;
  min-height: 200px;
  border: 1px solid #66afe9;
  border-radius: 5px;
  padding: 30px;
}
.content img{
  width: 100%;
  min-height: calc(100%);
}
.right{
  align: right;
}

